*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json

# Design & Docs
prd_content.txt
Product Requirements Document.docx
Product Requirements Document.pdf
stitch_home_dashboard
stitch_home_dashboard_dark_mode
